@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import 'tailwindcss';

* {
  font-family: Outfit;
}

html,
body {
  background-color: #f9f9fc;
}

:root {
  --poppins: 'Poppins', sans-serif;
  --primary: #043655;
  --secondary: #3ead92;
  --text-primary: #09090b;
  --text-secondary: #71717a;
  --aside-grad: linear-gradient(180deg, #039099 0%, rgba(197, 31, 255, 0.88) 111.68%);
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
}

@layer utilities {
  .bg-aside-grad {
    background: var(--aside-grad);
  }
}

.border {
  border: 1px solid #e4e4e7;
}
